body{
       padding: 0;
    margin: 0;
    background: #eef0f6;
}
.header{
    width: 100%;
    height: 83px;
    background: #45619d;
    color:white;
    font-family:calibri;
}
.h-1{
width:980px;
margin:auto;
}
.h-1 h1{
    margin: 0;
    font-size: 46px;
    padding: 16px 0px;
    float: left;
}
.formh{
width:390px;
float: right;
padding-top:15px;
}
.formh label{
margin-right: 70px;
font-size: 14px;
}
#txtb{
border: 1px solid;
width: 150px;
margin-right:6px;
}
#btn{
border: 1px solid;
background: #4267b2;
color: white;
padding: 3px 8px;
}
.formh a{
    text-decoration: none;
    margin: 162px;
    color: #6384bc;
    font-size:14px;
}
.cent{
font-family:calibri;
}
.c1{
margin:auto;
width:980px;
}
.c1 h2{
color:#19385f;
padding-top: 12px;
float: left;
margin-left: -182px;
}
.c1 img{
    width: 536px;
    height: 194px;
}
.Register{
    float: right;
    width: 443;
    margin-top: -100;
}
.Register p{
    color: #1d2129;
    font-size: 19px;
}
.Register h1{
    font-size: 40;
    font-family:inherit;
     color:#333333;
     margin-bottom:10px;
}
#txt1{
font-size: 20px;
border-radius: 10px;
width:195px;
padding:10px;
margin-bottom: 10px;
}
#txt2{
font-size: 20px;
border-radius: 10px;
width:390px;
padding:10px;
margin-bottom: 10px;
}
.Register span{
display:block;
width:76%;
}
.Register select{
padding:5px;
}
#hr{
display:block;
float:right;
width:135px;
font-size:13px;
text-decoration:none;
}
#r1{
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    line-height: 18px;
    padding: 0 10px 0 3px;
}
#j1{
font-size:13px;
color:#969494;
}
#but{
font-size: 19px;
padding:10px;
background:#69a74e;
color:white;
border-radius:10px;
}
#j2{
font-size:15px;
font-weight:bold;
}
